In [1]:
import pandas as pd

In [3]:
df= pd.read_csv("../Data/Processed/news_category_processed.csv")

In [4]:
df

,headline,category,short_description,headline_len,short_description_len
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,11,29
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,13,28
2,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",13,12
3,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",9,25
4,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,11,25
...,...,...,...,...,...
209522,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,8,18
209523,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",10,20
209524,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",16,24
209525,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,8,20
209526,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,9,19

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209527 entries, 0 to 209526
Data columns (total 5 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   headline               209521 non-null  object
 1   category               209527 non-null  object
 2   short_description      189815 non-null  object
 3   headline_len           209527 non-null  int64
 4   short_description_len  209527 non-null  int64
dtypes: int64(2), object(3)
memory usage: 8.0+ MB

In [6]:
df.isnull().sum()

headline                     6
category                     0
short_description        19712
headline_len                 0
short_description_len        0
dtype: int64

In [19]:
df['short_description']=df['short_description'].fillna('')

In [20]:
df['headline'] = df['headline'].fillna('')

In [9]:
df.drop(['headline_len', 'short_description_len'], axis=1,inplace=True)

In [24]:
df.head()

,headline,category,short_description
0,over 4 million americans roll up sleeves for o...,u.s. news,health experts said it is too early to predict...
1,"american airlines flyer charged, banned for li...",u.s. news,he was subdued by passengers and crew when he ...
2,23 of the funniest tweets about cats and dogs ...,comedy,"""until you have a dog you don't understand wha..."
3,the funniest tweets from parents this week (se...,parenting,"""accidentally put grown-up toothpaste on my to..."
4,woman who called cops on black bird-watcher lo...,u.s. news,amy cooper accused investment firm franklin te...

In [22]:
import re
def cleaning(text):
    text = text.lower()
    text = re.sub(r'^a-z\s', '', text)
    return text

In [23]:
df['headline'] = df['headline'].apply(cleaning)
df['short_description'] = df['short_description'].apply(cleaning)
df['category'] = df['category'].apply(cleaning)

In [25]:
df['text'] = df['headline'] + " " + df['short_description']

In [26]:
df.drop(['headline', 'short_description'], axis=1, inplace=True)

In [28]:
df.head()

    category                                               text
0  u.s. news  over 4 million americans roll up sleeves for o...
1  u.s. news  american airlines flyer charged, banned for li...
2     comedy  23 of the funniest tweets about cats and dogs ...
3  parenting  the funniest tweets from parents this week (se...
4  u.s. news  woman who called cops on black bird-watcher lo...

In [29]:
df=df.drop_duplicates()

In [32]:
df['category'].value_counts().sum(), df['text'].value_counts().sum()

(np.int64(209050), np.int64(209050))

In [35]:
import os
processed_dir = os.path.join("..","Data", "Processed")
file_path = os.path.join(processed_dir,"final_data.csv")

## Creation of the Dit=rectory
os.makedirs(processed_dir, exist_ok=True)

In [37]:
df.to_csv(file_path, index=False)
print("saved at : ", os.path.abspath(file_path))

saved at :  d:\projectss\news_categorization\Data\Processed\final_data.csv